{% extends "template.html" %}
{% block title %}Locker {{offer["lockerID"]}}{% endblock %}
{% block content %}

<table>
  <tr>
    <th>Locker {{offer["lockerID"]}}</th>
  </tr>
  {% if offer["type"] == 0 %}
  <tr>
    <td>Price: ${{offer["price"]}}</td>
  </tr>
  {% endif %}
  <tr>
    <td>Description: {{offer["description"]}}</td>
  </tr>
  <tr>
    <td>Seller: {{offer["email"]}}<td>
  </tr>
  <tr>
    <td>
      <canvas width="600" height="450" style="border: 1px solid black;" class="box" id="myCanvas"></canvas>
      <script type="text/javascript">
            var floor = {{ data.floor }}
            var coords = {{ data.coords }}
      </script>
      <script type="text/javascript" onload="loaded=1" src="/static/display_map.js"></script>
    </td>
  </tr>
</table>

{% if offer["email"] == current_user_email %}
<form method="POST" action="/edit">
  <input type="hidden" name="lockerID" value='{{offer["lockerID"]}}'>
  <input type="hidden" name="type" value='{{offer["type"]}}'>
  <input type="hidden" name="price" value='{{offer["price"]}}'>
  <input type="hidden" name="description" value='{{offer["description"]}}'>
  <input type="submit" name="edit" value="Edit" class="btn btn-primary">
</form>
{% endif %}

<br>

{% if offer["type"] == 1 and offer["email"] != current_user_email %}
  {% if logged %}
<form method="POST" action='{{"/display?lockerID="~offer["lockerID"] + "&type="~offer["type"]}}'>
      <select name="your_lockerID" placeholder="Your LockerID">
        {% for locker in lockers %}
          <option value= {{ locker["lockerID"] }}>{{ locker["lockerID"] }}</option>
        {% endfor %}
        </select>
      <input type="submit" name="send" value="Send Trade Request">
    </form>
  {% else %}
    <a href="/login">To send a trade request you must log in here</a>
  {% endif %}
{% endif %}

<br>

<b>Contact </b>
<form method="POST" action='/contact'>
  <input type="text" readonly="readonly" name="to" value={{offer["email"]}}><br>
  <input type="text" name="subject" placeholder="Subject"><br>
  <input type="text" name="message" placeholder="Message"><br>
  <input type="submit" name="email" value="Send Email">
</form>

{% with messages = get_flashed_messages() %}
{% for message in messages %}
<center><font color="red">{{ message }}</font></center><br>
{% endfor %}
{% endwith %}

{% endblock %}
