{% extends "template.html" %}
{% block title %}Edit Locker{% endblock %}
{% block content %}

{% with messages = get_flashed_messages() %}
{% for message in messages %}
<center><font color="red">{{ message }}</font></center><br>
{% endfor %}
{% endwith %}

<h2 class="text-center">Edit Locker</h2>

<div class="modal-body row">
  <div class="col-md-4"></div>
  <div class="col-md-4 container login">
    <form method="POST" action="/offers">
      <div class="form-group">
        <label for="Id"> LockerID </label>
        <input type="text" name="lockerID" placeholder="Locker" value={{locker["lockerID"]}}>
      </div>
      <div class="form-group">
        <label for="price">Price(if selling) </label>
        <input type="text" name="price" placeholder="Price" value={{locker["price"]}}>
      </div>
      <div class="form-group">
          <label for="type"> Sell or Trade </label>
          <select name="type" placeholder="Sell or trade">
            <option value="0">Sell</option>
            <option value="1">Trade</option>
          </select>
      </div>
      <div class="form-group-lg">
        <label for="desc"> Description </label>
        <textarea name="desc" class="form-control input-lg" rows="5" placeholder="Type a description...">{{locker["description"]}}</textarea>
      </div>
      <input class="btn btn-info btn-block" type="submit" name="update" value="Update Post">
    </form>
  </div>
  <div class="col-md-4"></div>
</div>

{% endblock %}
