{% extends "template.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<br>
<h1>Home</h1>
This is where we will have our 5 most recent trading and selling posts!
<br>
<br>
<br>
<br>
<br>
<br>

<h1>Selling</h1>
<div class="card-deck">
  {% for locker in lockers_selling %}
  <div class="card" style="width: 20rem;">
    <img class="card-img-top" src="static/locker.jpg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Locker ID: {{locker["lockerID"]}}</h4>
      <p class="card-text">Price: ${{locker["price"]}}</p>
      <a href='{{"/display?lockerID="~locker["lockerID"] + "&type="~locker["type"]}}' class="btn btn-primary">View Offer</a>
    </div>
  </div>
  <br>
  {% endfor %}
</div>

<br>

<h1>Trading</h1>
<div class="card-deck">
  {% for locker in lockers_trading %}
  <div class="card" style="width: 20rem;">
    <img class="card-img-top" src="static/locker.jpg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Locker ID: {{locker["lockerID"]}}</h4>
      <p class="card-text">Price: ${{locker["price"]}}</p>
      <a href='{{"/display?lockerID="~locker["lockerID"] + "&type="~locker["type"]}}' class="btn btn-primary">View Offer</a>
    </div>
  </div>
  <br>
  {% endfor %}
</div>


{% endblock %}
