{% extends "template.html" %}
{%block title %}Search Lockers{% endblock %}
{%block content %}
<ul>
        <li>Shows locker posts in a grid layout</li>
        <li>Search bar to search for specific locker numbers</li>
        <li>Options to sort lockers by price and floor</li>
        <li>Clicking on a locker goes to a page to display all locker information</li>
</ul>

<h2>Selling</h2>

<div class="card-deck">
  {% for locker in offers %}
  <div class="card" style="width: 20rem;">
    <img class="card-img-top" src="static/locker.jpg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Locker ID: {{locker["lockerID"]}}</h4>
      <p class="card-text">Price: ${{locker["price"]}}</p>
      <a href='{{"/display?lockerID="~locker["lockerID"] + "&type="~locker["type"]}}' class="btn btn-primary">View Offer</a>
    </div>
  </div>
  <br>
  {% endfor %}
</div>

<h2>Trading</h2>

{% endblock %}  
