{% extends "template.html" %}
{%block title %}Search Lockers{% endblock %}
{%block content %}
<ul>
        <li>Shows locker posts in a grid layout</li>
        <li>Search bar to search for specific locker numbers</li>
        <li>Options to sort lockers by price and floor</li>
        <li>Clicking on a locker goes to a page to display all locker information</li>
</ul>

<table>
  <tr>
    <th>Selling</th>
  </tr>
  {% for locker in offers %}
  <tr>
    <td><a href={{"/display?lockerID="~locker["lockerID"] + "&type="~locker["type"]}}>{{locker["lockerID"]}}</a></td>
  </tr>
  {% endfor %}
  <tr>
    <th>Trading</th>
  </tr>
</table>

{% endblock %}  
