{% extends "template.html" %}
{%block title %}Search Lockers{% endblock %}
{%block content %}
<br>
<h1>Search</h1>
<div class="card-block">
<center><b>
Search by Locker Number:</b>
<input style="width: 50%;" type="text" id= "searchLocker" name="searchLocker"></center>
<script type="text/javascript" src="/static/filters.js"></script>
</div>

<h2>Selling</h2>

<div class="card-deck">
  {% for locker in offers %}
  {% if locker["type"] == 0 %}
  <div class="card-block container" style="width: 20rem; padding-bottom: 50px;">
    <img class="card-img-top" src="static/locker.jpg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Locker ID: {{locker["lockerID"]}}</h4>
      <p class="card-text">Price: ${{locker["price"]}}</p>
      <a href='{{"/display?lockerID="~locker["lockerID"] + "&type="~locker["type"]}}' class="btn btn-primary">View Offer</a>
    </div>
  </div>
  <br>
  {% endif %}
  {% endfor %}
</div>

<h2>Trading</h2>
<div class="card-deck">
  {% for locker in offers %}
  {% if locker["type"] == 1 %}
  <div class="card-block container" style="width: 20rem; padding-bottom: 50px;">
    <img class="card-img-top" src="static/locker.jpg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Locker ID: {{locker["lockerID"]}}</h4>
      <a href='{{"/display?lockerID="~locker["lockerID"] + "&type="~locker["type"]}}' class="btn btn-primary">View Offer</a>
    </div>
  </div>
  <br>
  {% endif %}
  {% endfor %}
</div>

{% endblock %}  
