{% extends "template.html" %}
{% block title %}Create Post{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
  {% for message in messages %}
    <center><font color="red">{{ message }}</font></center><br>
  {% endfor %}
{% endif %}
{% endwith %}
<br>
<h1> Create a Post</h1><br>
<br>
<br>

<div class="modal-body row">
  <div class="col-md-4"></div>
  <div class="col-md-4 container login">
    <form method="POST" action="/post">
      <div class="form-group">
        <label for="Id"> LockerID </label>
        <select name="lockerID" placeholder="Locker">
          {% for locker in lockers %}
            <option value= {{ locker["lockerID"] }}>{{ locker["lockerID"] }}</option>
          {% endfor %}
          </select>
      </div>
      <div class="form-group">
        <label for="price">Price(if selling) </label>
        <input type="text" name="price" placeholder="Price">
      </div>
      <div class="form-group">
          <label for="type"> Sell or Trade </label>
          <select name="type" placeholder="Sell or trade">
            <option value="0">Sell</option>
            <option value="1">Trade</option>
          </select>
      </div>
      <div class="form-group-lg">
        <label for="desc"> Description </label>
        <textarea name="desc" class="form-control input-lg" rows="5" placeholder="Type a description..."></textarea>
      </div>
      <input class="btn btn-info btn-block" type="submit" name="create" value="Create Post">
    </form>
  </div>
  <div class="col-md-4"></div>
</div>

{% endblock %}
