{% extends "template.html" %}
{% block title %}{{username}}'s Profile{% endblock %}
{% block content %}
<h1>{{username}}'s profile</h1>
<ul>
    <li>Will diplay all lockers owned by the user</li>
    <li>The user will be able to edit the info about the locker.</li>
    <li>Will be able to remove and add lockers</li>
    <li>Will display trade requests</li>
    <li>User will be able to change their password</li>
</ul>

<form method="POST" action="/profile">
  <input type="text" name="lockerID" placeholder="Locker ID">
  <br>
  <input type="text" name="floor" placeholder="Floor #">
  <br>
  <input type="text" name="coords" placeholder="Coordinates ex: [0,0]">
  Map!
  <br>
  <input type="submit" name="add" value="Add Locker">
</form>

<br>

<h2>Your Lockers</h2>

<div class="card-deck">
{% for locker in lockers %}
<div class="card" style="width: 20rem;">
  <img class="card-img-top" src="static/locker.jpg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Locker ID: {{locker["lockerID"]}}</h4>
    <p class="card-text">Floor: ${{locker["floor"]}}</p>
    <a href="#" class="btn btn-primary">Zoom zoom</a>
  </div>
</div>
<br>
{% endfor %}
</div>

{% endblock %}  
