{% extends "template.html" %}
{% block title %}{{username}}'s Profile{% endblock %}
{% block content %}
<h1>{{username}}'s profile</h1>
<ul>
    <li>Will diplay all lockers owned by the user</li>
    <li>The user will be able to edit the info about the locker.</li>
    <li>Will be able to remove and add lockers</li>
    <li>Will display trade requests</li>
    <li>User will be able to change their password</li>
</ul>

<form method="POST" action="/profile">
  <input type="text" name="lockerID" placeholder="Locker ID (ex: 2-152)">
  <br>
  <select id="dropdown">
    <option value="0">Select a Floor</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select>
  <br>
  <input type="text" disabled="disabled" name="coords" id="coords" placeholder="Coordinates ex: [0,0]">
  <br>
  <canvas style="border: 1px solid black;" class="box" id="myCanvas"></canvas>
  <script src="map_selection.js"></script>
  <br>
  <input type="submit" name="add" value="Add Locker">
</form>

{% with messages = get_flashed_messages() %}
{% for message in messages %}
<center><font color="red">{{ message }}</font></center><br>
{% endfor %}
{% endwith %}
    
<br>

<h2>Your Lockers</h2>

<div class="card-deck">
{% for locker in lockers %}
<div class="card" style="width: 20rem;">
  <img class="card-img-top" src="static/locker.jpg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Locker ID: {{locker["lockerID"]}}</h4>
    <p class="card-text">Floor: {{locker["floor"]}}</p>
    <form method="POST" action="/profile">
      <input type="hidden" name="lockerID" value='{{locker["lockerID"]}}'>
      <input type="submit" name="delete" value="Delete" class="btn btn-primary">
    </form>
  </div>
</div>
<br>
{% endfor %}
</div>


<h2>Your Trade Requests</h2>
{% for trade in trades %}
<div class="card" style="width: 20rem;">
  <img class="card-img-top" src="static/locker.jpg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Locker ID: {{trade["lockerID"]}}</h4>
    <p class="card-text">For your locker: {{trade["your_lockerID"]}}</p>
    <p class="card-text">Sent by: {{trade["from_email"]}}</p>
    <form method="POST" action="/profile">
      <input type="hidden" name="lockerID" value='{{trade["lockerID"]}}'>
      <input type="hidden" name="your_lockerID" value='{{trade["your_lockerID"]}}'>
      <input type="hidden" name="to_email" value='{{trade["to_email"]}}'>
      <input type="hidden" name="from_email" value='{{trade["from_email"]}}'>
      <input type="submit" name="accept" value="Accept" class="btn btn-primary">
      <input type="submit" name="deny" value="Deny" class="btn btn-primary">
    </form>
  </div>
</div>
<br>
{% endfor %}
</div>
<br>
<br>
<br>

{% endblock %}  
